menu "Speakup console speech" 
config SPEAKUP
	bool "Speakup console speech (GLUE CODE ONLY)"
	---help---
		This is the base 'glue' code for speakup, the Linux kernel speech
		synthesization engine. speakup supports a variety of serial-based
		speech synthesizers and can also drive userspace speech software
		synthesization software.

		For more info, see http://www.linux-speakup.org

		This kernel does not include the actual speakup core or any
		synth modules. You can download tarballs from the above site
		which contain externally-building modules which build on
		top of this.

endmenu

